doctype html
html
    head
        title= `Simple Kitchen - ${title}`

        // Registration Form
        //link(rel='stylesheet', href='/css/bootstrap.min.css')
        //link(rel='stylesheet', href='/css/styles-form.css')

        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
        link(rel='stylesheet' href='stylesheet.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

        link(rel='StyleSheet' href='css/styles.css' type='text/css')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.11/vue.js")


        meta(name='viewport' content='width=device-width, initial-scale=1.0')



        //- script(src='script.js')
        
        
  
    body#sk
        div.container.listing-reg

            block content